<footer class="footer">
  <small>
    FA by <%= link_to "TrungHC", "https://github.com/hct97" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Contact", "https://github.com/hct97" %></li>
    </ul>
  </nav>
</footer>
