<div class="table-responsive">
  <table class="table">
    <tr>
      <td>STT</td>
      <td>Name</td>
      <td>Class</td>
      <td>Time</td>
    </tr>
    <% @lessons.each_with_index do |lesson, index| %>
      <tr>
        <td>
          <%= index + 1 %>
        </td>
        <td>
          <%= link_to lesson.name, lesson_path(lesson.id) %>
        </td>
        <td>
          <%= lesson.course_class.name %>
        </td>
        <td>
          <%= lesson.time_start.strftime("%d/%m/%Y") %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
